body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

#tabs-content div.tab-content {
  display: none;
}

#tabs-content div.tab-content.is-active {
  display: block;
}

.modal-card {
  width: 800px;
}

.modal-content {
  width: 800px;
}

/* level */
.level{
  width: 100%;
  margin: auto;
  align-items:center;
  justify-content:space-between
}
.level code{
  border-radius:4px
}
.level img{
  display:inline-block;
  vertical-align:top
}
.level.is-mobile{
  display:flex
}
.level.is-mobile .level-left,.level.is-mobile .level-right{
  display:flex
}
.level.is-mobile .level-left+.level-right{
  margin-top:0
}
.level.is-mobile .level-item:not(:last-child){
  margin-bottom:0;
  margin-right:.75rem
}
.level.is-mobile .level-item:not(.is-narrow){
  flex-grow:1
}

@media screen and (min-width:769px),print{
  .level{
      display:flex
  }
  .level>.level-item:not(.is-narrow){
      flex-grow:1
  }
}
.level-item{
  align-items:center;
  display:flex;
  flex-basis:auto;
  flex-grow:0;
  flex-shrink:0;
  justify-content:center
}
.level-item .subtitle,.level-item .title{
  margin-bottom:0
}
@media screen and (max-width:768px){
  .level-item:not(:last-child){
      margin-bottom:.75rem
  }
}
.level-left,.level-right{
  flex-basis:auto;
  flex-grow:0;
  flex-shrink:0
}
.level-left .level-item.is-flexible,.level-right .level-item.is-flexible{
  flex-grow:1
}
@media screen and (min-width:769px),print{
  .level-left .level-item:not(:last-child),.level-right .level-item:not(:last-child){
      margin-right:.75rem
  }
}
.level-left{
  align-items:center;
  justify-content:flex-start
}
@media screen and (max-width:768px){
  .level-left+.level-right{
      margin-top:1.5rem
  }
}
@media screen and (min-width:769px),print{
  .level-left{
      display:flex
  }
}
.level-right{
  align-items:center;
  justify-content:flex-end
}
@media screen and (min-width:769px),print{
  .level-right{
      display:flex
  }
}